<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include $(sys.CURRENTDIR)\Version.wxi ?>
	<Product Id="7341942A-29B9-45AA-BF92-E29139900E7D" Name="Saltarelle" Language="1033" Version="$(var.Version)" Manufacturer="Saltarelle" UpgradeCode="CB97D31F-A24E-4DCB-A2EF-803E60EDAAD5">
		<Package InstallerVersion="200" Compressed="yes" Id="*" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Component Id="VSCustomToolComponentGAC" Guid="627A2006-9753-481E-9DA8-24FAE0781517">
				<File Id="VSCustomToolDllGAC" Name="Saltarelle.VSCustomTool.dll" Assembly=".net" Source="..\Executables\VSCustomTool\bin\Saltarelle.VSCustomTool.dll" KeyPath="yes" DiskId="1" />
				<Class Id="{D5BAD3F4-6C57-4901-AEEC-AE18BAB760D9}" Context="InprocServer32" Description="Saltarelle.SalgenCustomTool" ThreadingModel="both" ForeignServer="mscoree.dll">
					<ProgId Id="Saltarelle.SalgenCustomTool" Description="Saltarelle.SalgenCustomTool" />
				</Class>
				<RegistryValue Root="HKCR" Key="CLSID\{D5BAD3F4-6C57-4901-AEEC-AE18BAB760D9}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{D5BAD3F4-6C57-4901-AEEC-AE18BAB760D9}\InprocServer32\$(var.ExecutablesAssemblyVersion)" Name="Class" Value="Saltarelle.SalgenCustomTool" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{D5BAD3F4-6C57-4901-AEEC-AE18BAB760D9}\InprocServer32\$(var.ExecutablesAssemblyVersion)" Name="Assembly" Value="Saltarelle.VSCustomTool, Version=$(var.ExecutablesAssemblyVersion), Culture=neutral, PublicKeyToken=346e0df1ad23b3c3" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{D5BAD3F4-6C57-4901-AEEC-AE18BAB760D9}\InprocServer32\$(var.ExecutablesAssemblyVersion)" Name="RuntimeVersion" Value="v2.0.50727" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{D5BAD3F4-6C57-4901-AEEC-AE18BAB760D9}\InprocServer32\$(var.ExecutablesAssemblyVersion)" Name="CodeBase" Value="file:///[#VSCustomToolDllGAC]" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{D5BAD3F4-6C57-4901-AEEC-AE18BAB760D9}\InprocServer32" Name="Class" Value="Saltarelle.SalgenCustomTool" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{D5BAD3F4-6C57-4901-AEEC-AE18BAB760D9}\InprocServer32" Name="Assembly" Value="Saltarelle.VSCustomTool, Version=$(var.ExecutablesAssemblyVersion), Culture=neutral, PublicKeyToken=346e0df1ad23b3c3" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{D5BAD3F4-6C57-4901-AEEC-AE18BAB760D9}\InprocServer32" Name="RuntimeVersion" Value="v2.0.50727" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{D5BAD3F4-6C57-4901-AEEC-AE18BAB760D9}\InprocServer32" Name="CodeBase" Value="file:///[#VSCustomToolDllGAC]" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="Component Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Name="0" Value=".NET Category" Type="string" Action="write" />
			</Component>

			<Component Id="SalgenTaskComponentGAC" Guid="0EE6125B-CCD0-4EBC-8EAF-E52A278ACF6A">
				<File Id="SalgenTaskDllGAC" Name="Saltarelle.SalgenTask.dll" Assembly=".net" Source="..\Executables\SalgenTask\bin\Saltarelle.SalgenTask.dll" KeyPath="yes" DiskId="1" />
			</Component>

			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="Saltarelle">
					<Component Id="VSCustomToolComponent" Guid="2ECB28DC-0679-4E23-B3B1-F16E22656232">
						<File Id="VsCustomToolDll" Name="Saltarelle.VSCustomTool.dll" Source="..\Executables\VSCustomTool\bin\Saltarelle.VSCustomTool.dll" KeyPath="yes" DiskId="1"/>
					</Component>

					<Component Id="SalgenTaskComponent" Guid="B8E2A408-9171-47AE-A735-92C8B8573987">
						<File Id="SalgenTaskDll" Name="Saltarelle.SalgenTask.dll" Source="..\Executables\SalgenTask\bin\Saltarelle.SalgenTask.dll" KeyPath="yes" DiskId="1" />
					</Component>
					<Component Id="SaltarelleTargetsComponent" Guid="006E9107-F3AF-4D0D-80F0-53BF066DE0C3">
						<File Id="SaltarelleTargets" Name="Saltarelle.targets" Source="..\Executables\SalgenTask\bin\Saltarelle.targets" KeyPath="yes" DiskId="1" />
					</Component> 

					<Component Id="SalgenExeComponent" Guid="BB39365F-8B0C-49D9-825E-DA7BDA2436D3">
						<File Id="SalgenExe" Name="salgen.exe" Source="..\Executables\Salgen.exe\bin\salgen.exe" KeyPath="yes" DiskId="1"/>
					</Component>
					
					<Component Id="VSCustomToolRegistryEntries" Guid="8A93DA05-85CA-467A-B031-5E1103FB504D">
						<RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\9.0\Generators\{FAE04EC1-301F-11D3-BF4B-00C04F79EFBC}\Salgen">
							<RegistryValue Type="string" Value="Saltarelle code generator that transforms a .tpl file to code." KeyPath="yes"/>
							<RegistryValue Name="CLSID" Type="string" Value="{D5BAD3F4-6C57-4901-AEEC-AE18BAB760D9}"/>
							<RegistryValue Name="GeneratesDesignTimeSource" Type="integer" Value="1"/>
						</RegistryKey>
					</Component>
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="MainFeature" Title="Saltarelle" Level="1">
			<Feature Id="SaltarelleCore" Title="Core Components" Level="1">
				<ComponentRef Id="VSCustomToolComponent"/>
				<ComponentRef Id="VSCustomToolComponentGAC"/>
				<ComponentRef Id="SalgenTaskComponent"/>
				<ComponentRef Id="SalgenTaskComponentGAC"/>
				<ComponentRef Id="SaltarelleTargetsComponent"/>
				<ComponentRef Id="SalgenExeComponent"/>
				<ComponentRef Id="VSCustomToolRegistryEntries"/>
			</Feature>
			<Feature Id="SaltarelleSample" Title="Sample Web Site" Level="1">
			</Feature>
		</Feature>
		
<!--		<UIRef Id="WixUI_Mondo"/>-->
		
		<Upgrade Id="CB97D31F-A24E-4DCB-A2EF-803E60EDAAD5">
			<UpgradeVersion OnlyDetect="yes" Property="SELFFOUND" Minimum="0.5.0" IncludeMinimum="yes" Maximum="$(var.Version)" IncludeMaximum="yes"/>
			<UpgradeVersion OnlyDetect="yes" Property="NEWERFOUND" Minimum="$(var.Version)" IncludeMinimum="no" />
		</Upgrade>

		<CustomAction Id='AlreadyUpdated' Error='Saltarelle $(var.Version) is alreaday installed.' />
		<CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed.' />

		<InstallExecuteSequence>
			<Custom Action='AlreadyUpdated' After='FindRelatedProducts'>SELFFOUND</Custom>
			<Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
		</InstallExecuteSequence>
	</Product>
</Wix>
