<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mscorlib" publicKeyToken="8fc0e3af5abcb6c4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.93" newVersion="0.0.0.93" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>