#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.ncb
*.suo
*.bak
*.log
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

Client.dll
Script.js
Script.min.js
Saltarelle/Executables/ExecutablesVersion.cs
Saltarelle/Installer/Version.wxi
Saltarelle/SaltarelleVersion.cs
Saltarelle/TestAssemblies.txt