<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Saltarelle.Compiler" version="0.0.0.70" />
  <package id="Saltarelle.Framework.Client" version="0.7.3.55" />
  <package id="Saltarelle.jQuery" version="0.0.0.43" />
  <package id="Saltarelle.jQuery.UI" version="0.0.0.8" />
  <package id="Saltarelle.Parser.Client" version="0.7.3.28" />
  <package id="Saltarelle.Runtime" version="0.0.0.102" />
  <package id="Saltarelle.UI.Client" version="0.7.3.26" />
  <package id="Saltarelle.Web" version="0.0.0.57" />
</packages>