<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotless" version="1.2.2.0" />
  <package id="Mono.Cecil" version="0.9.5.2" />
  <package id="Newtonsoft.Json" version="4.0.7" />
  <package id="SaltarelleCore" version="0.7.2.61" />
  <package id="SaltarelleMvc" version="0.7.2.61" />
  <package id="SaltarelleParser" version="0.7.2.61" />
  <package id="SaltarelleUI" version="0.7.2.61" />
</packages>