.Grid {
	position: relative; /* required for scrolling in drag-drop */

	overflow: hidden;

	div.GridValues {
		overflow: auto;
		position: relative;
	}

	div.GridHeader {
		overflow: hidden;
	}

	table.GridValues td div div {
		padding: 0px 5px 0px 5px;
	}

	table.GridHeader th div div {
		padding: 0px 4px 0px 5px;
		border-right: solid 1px black;
	}

	th.spacer div {
		width: 50px;
	}

	th {
		text-align: left;
	}

	th div, td div {
		overflow: hidden;
		white-space: nowrap;
	}

	tr {
		cursor: default;
	}

	tr.DropHover td {
		padding-top: 16px;
	}

	tr.CurrentDraggingRow {
		display: none;
	}

	td.LinkCell {
		cursor: pointer;
		font-weight: bold;
	}

	.ui-state-highlight {
		border: 0px;
	}
}

.DisabledGrid {
	color: Gray;

	table.GridHeader th div div {
		border-right-color: gray;
	}

	table.GridHeader th div div.ui-resizable-handle {
		cursor: inherit;
	}

	.ui-state-highlight {
		color: Gray;
		background-color: inherit;
		border: 0px;
	}
}

.Tree {
	overflow: auto;
	position: relative; /* required for scrolling in drag-drop */
	white-space: nowrap;
	margin: 0px;
	padding: 0px 0px 0px 0px;

	.tree-node-container {
		margin: 0px;
		padding:0px;
	}

	.tree-nested-list {
		margin: 0px;
		padding: 0px 0px 0px 30px;
	}

	.tree-node-indent {
		width: 16px;
		height: 1px;
	}
	
	.tree-node {
		*height: 16px;
		*overflow: hidden;
		padding: 1px 0px 1px 0px;
		vertical-align: top;
	}

	.expand-collapse-icon {
		cursor: pointer;
		display: inline-block;
		width: 9px;
		height: 16px;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0px 2px 0px 2px;
	}

	.tree-node-icon {
		display: inline-block;
		width: 16px;
		height: 16px;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0px 2px 0px 2px;
	}

	.expand-collapse-icon-collapsed {
		background-image: @plus-image;
	}

	.expand-collapse-icon-expanded {
		background-image: @minus-image;
	}

	.default-tree-icon-collapsed {
		background: @folder_closed-image;
	}

	.default-tree-icon-expanded {
		background: @folder_open-image;
	}

	.default-tree-icon-leaf {
		background: @item-image;
	}

	.tree-node-text {
		border: 0px;
		cursor: pointer;
		background-image: none;
	}

	.ui-draggable-dragging {
		cursor: pointer;
	}

	input.checkbox {
		padding: 0px;
		margin: 0px 2px 0px 0px;
		width: 13px;
		height: 13px;
		position: relative;
		top: 1px;
		*position: static; /* Reset in IE6 for two reasons: 1) It looks better, and 2) IE6 is not good with positioned inputs.*/
		*top: 0px;
	}
	
	.ui-draggable-dragging {
	}
	
	.tree-node-dropinto .tree-node-text {
		background: #c4c9f4;
	}
	
	.tree-node-dropabove .tree-node-text {
		border-top: 2px solid blue;
	}
}

.TreeDisabled {
	color: Gray;
}

.NoPaddingDialog {
	padding: 0px;
	border: 0px;
	
	.ui-dialog-content {
		padding: 0px;
	}
}
