<configuration>
  <configSections>
    <section name="saltarelle" type="Saltarelle.Configuration.SaltarelleConfigSection, SaltarelleLib, Version=0.7.1.0, Culture=neutral, PublicKeyToken=346e0df1ad23b3c3" />
  </configSections>

  <saltarelle>
	<plugins>
		<!--<plugin assembly="..\DemoWeb.Plugins\bin\Debug\DemoWeb.Plugins.dll"/>-->
	</plugins>
  </saltarelle>
</configuration>